 /* div{
    height: 100px;
    width: 100px;
    text-align: center; */
    /* display: inline-block;
}
.n{
    background-color:rebeccapurple;
    
    position: static;
    right:63px;
}
.i{
    background-color:purple;
    position: relative;
    left: 239px;
}
.l{
    background-color:green;
    position: absolute;
    right: 26px;
}
.e{
    background-color:blue;
    position: fixed;
    top: 400px;
}
.s{
    background-color:red;
    position: sticky;
   top:300px;
}  */